[alias]
	
  	a = add
	b = branch

  	c = commit
	ca = commit --amend
	cp = cherry-pick

  	d = diff
  	f = fetch
  	g = grep
  	l = log
  	s = status
  	w = whatchanged

[user]
	email = sivacn@protonmail.com
	name = Siva Cn
[core]
	editor = vim
[init]
	defaultBranch = dev_0.1
